<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <div id="header"></div>
  <body>
    <!--헤더 삽입-->

    <div class="text-box1">
      <div class="text1-1">마감 임박!</div>
      <div class="text1-2">망설이면 늦어요</div>
    </div>

    <div class="card-line1">
      <div class="card-container1">
        <div class="container" id="cont1-1">
          <div class="inner-box1">
            <div class="inner-textbox">
              <div class="category">
                <span class="category-label">생필품 | 이화 파빌리온 앞 | </span>
                <span class="store">쿠팡</span>
              </div>
              <div class="product-name">해피데이 포켓형 대용량 핫팩 150g</div>
              <div class="price">25개, 25000원</div>
            </div>
            <div class="progress">
              <div class="progress-text">
                <div class="dday">D-DAY</div>
                <div class="discount">90%</div>
                <br />
              </div>
              <div class="progress-bar-bg">
                <div class="progress-bar" style="width: 90%"></div>
              </div>
            </div>
          </div>
          <div class="inner-box2">
            <svg
              class="heart"
              width="28"
              height="24"
              viewBox="0 0 28 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M27.0606 7.06297C27.0606 8.66768 26.4521 10.2862 25.2213 11.5174L23.1745 13.5648L14.3649 22.3768C14.3234 22.4183 14.3096 22.4322 14.2681 22.4598C14.2266 22.4322 14.2128 22.4183 14.1713 22.3768L3.31495 11.5174C2.0841 10.2862 1.47559 8.68151 1.47559 7.06297C1.47559 5.44444 2.0841 3.82591 3.31495 2.59472C5.77664 0.146162 9.7596 0.146162 12.2213 2.59472L14.2543 4.64209L16.3011 2.59472C18.7628 0.146162 22.7319 0.146162 25.1936 2.59472C26.4521 3.82591 27.0606 5.43061 27.0606 7.06297Z"
                stroke="#E27A6C"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>

        <div class="container" id="cont1-2">
          <div class="inner-box1">
            <div class="inner-textbox">
              <div class="category">
                <span class="category-label">생필품 | 이화 파빌리온 앞 | </span>
                <span class="store">쿠팡</span>
              </div>
              <div class="product-name">해피데이 포켓형 대용량 핫팩 150g</div>
              <div class="price">25개, 25000원</div>
            </div>
            <div class="progress">
              <div class="progress-text">
                <div class="dday">D-DAY</div>
                <div class="discount">90%</div>
                <br />
              </div>
              <div class="progress-bar-bg">
                <div class="progress-bar" style="width: 90%"></div>
              </div>
            </div>
          </div>
          <div class="inner-box2">
            <svg
              class="heart"
              width="28"
              height="24"
              viewBox="0 0 28 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M27.0606 7.06297C27.0606 8.66768 26.4521 10.2862 25.2213 11.5174L23.1745 13.5648L14.3649 22.3768C14.3234 22.4183 14.3096 22.4322 14.2681 22.4598C14.2266 22.4322 14.2128 22.4183 14.1713 22.3768L3.31495 11.5174C2.0841 10.2862 1.47559 8.68151 1.47559 7.06297C1.47559 5.44444 2.0841 3.82591 3.31495 2.59472C5.77664 0.146162 9.7596 0.146162 12.2213 2.59472L14.2543 4.64209L16.3011 2.59472C18.7628 0.146162 22.7319 0.146162 25.1936 2.59472C26.4521 3.82591 27.0606 5.43061 27.0606 7.06297Z"
                stroke="#E27A6C"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>

        <div class="container" id="cont1-3">
          <div class="inner-box1">
            <div class="inner-textbox">
              <div class="category">
                <span class="category-label">생필품 | 이화 파빌리온 앞 | </span>
                <span class="store">쿠팡</span>
              </div>
              <div class="product-name">해피데이 포켓형 대용량 핫팩 150g</div>
              <div class="price">25개, 25000원</div>
            </div>
            <div class="progress">
              <div class="progress-text">
                <div class="dday">D-DAY</div>
                <div class="discount">90%</div>
                <br />
              </div>
              <div class="progress-bar-bg">
                <div class="progress-bar" style="width: 90%"></div>
              </div>
            </div>
          </div>
          <div class="inner-box2">
            <svg
              class="heart"
              width="28"
              height="24"
              viewBox="0 0 28 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M27.0606 7.06297C27.0606 8.66768 26.4521 10.2862 25.2213 11.5174L23.1745 13.5648L14.3649 22.3768C14.3234 22.4183 14.3096 22.4322 14.2681 22.4598C14.2266 22.4322 14.2128 22.4183 14.1713 22.3768L3.31495 11.5174C2.0841 10.2862 1.47559 8.68151 1.47559 7.06297C1.47559 5.44444 2.0841 3.82591 3.31495 2.59472C5.77664 0.146162 9.7596 0.146162 12.2213 2.59472L14.2543 4.64209L16.3011 2.59472C18.7628 0.146162 22.7319 0.146162 25.1936 2.59472C26.4521 3.82591 27.0606 5.43061 27.0606 7.06297Z"
                stroke="#E27A6C"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>

        <div class="container" id="cont1-4">
          <div class="inner-box1">
            <div class="inner-textbox">
              <div class="category">
                <span class="category-label">생필품 | 이화 파빌리온 앞 | </span>
                <span class="store">쿠팡</span>
              </div>
              <div class="product-name">해피데이 포켓형 대용량 핫팩 150g</div>
              <div class="price">25개, 25000원</div>
            </div>
            <div class="progress">
              <div class="progress-text">
                <div class="dday">D-DAY</div>
                <div class="discount">90%</div>
                <br />
              </div>
              <div class="progress-bar-bg">
                <div class="progress-bar" style="width: 90%"></div>
              </div>
            </div>
          </div>
          <div class="inner-box2">
            <svg
              class="heart"
              width="28"
              height="24"
              viewBox="0 0 28 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M27.0606 7.06297C27.0606 8.66768 26.4521 10.2862 25.2213 11.5174L23.1745 13.5648L14.3649 22.3768C14.3234 22.4183 14.3096 22.4322 14.2681 22.4598C14.2266 22.4322 14.2128 22.4183 14.1713 22.3768L3.31495 11.5174C2.0841 10.2862 1.47559 8.68151 1.47559 7.06297C1.47559 5.44444 2.0841 3.82591 3.31495 2.59472C5.77664 0.146162 9.7596 0.146162 12.2213 2.59472L14.2543 4.64209L16.3011 2.59472C18.7628 0.146162 22.7319 0.146162 25.1936 2.59472C26.4521 3.82591 27.0606 5.43061 27.0606 7.06297Z"
                stroke="#E27A6C"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>

        <div class="container" id="cont1-5">
          <div class="inner-box1">
            <div class="inner-textbox">
              <div class="category">
                <span class="category-label">생필품 | 이화 파빌리온 앞 | </span>
                <span class="store">쿠팡</span>
              </div>
              <div class="product-name">해피데이 포켓형 대용량 핫팩 150g</div>
              <div class="price">25개, 25000원</div>
            </div>
            <div class="progress">
              <div class="progress-text">
                <div class="dday">D-DAY</div>
                <div class="discount">90%</div>
                <br />
              </div>
              <div class="progress-bar-bg">
                <div class="progress-bar" style="width: 90%"></div>
              </div>
            </div>
          </div>
          <div class="inner-box2">
            <svg
              class="heart"
              width="28"
              height="24"
              viewBox="0 0 28 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M27.0606 7.06297C27.0606 8.66768 26.4521 10.2862 25.2213 11.5174L23.1745 13.5648L14.3649 22.3768C14.3234 22.4183 14.3096 22.4322 14.2681 22.4598C14.2266 22.4322 14.2128 22.4183 14.1713 22.3768L3.31495 11.5174C2.0841 10.2862 1.47559 8.68151 1.47559 7.06297C1.47559 5.44444 2.0841 3.82591 3.31495 2.59472C5.77664 0.146162 9.7596 0.146162 12.2213 2.59472L14.2543 4.64209L16.3011 2.59472C18.7628 0.146162 22.7319 0.146162 25.1936 2.59472C26.4521 3.82591 27.0606 5.43061 27.0606 7.06297Z"
                stroke="#E27A6C"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
      </div>
    </div>

    <div class="text-box2">
      <div class="text2-1">HOT</div>
      <div class="text2-2">지금 인기 있는 공동구매</div>
    </div>

    <div class="card-line2">
      <div class="card-container2">
        <div class="container" id="cont2-1">
          <div class="inner-box1">
            <div class="inner-textbox">
              <div class="category">
                <span class="category-label">생필품 | 이화 파빌리온 앞 | </span>
                <span class="store">쿠팡</span>
              </div>
              <div class="product-name">해피데이 포켓형 대용량 핫팩 150g</div>
              <div class="price">25개, 25000원</div>
            </div>
            <div class="progress">
              <div class="progress-text">
                <div class="dday">D-DAY</div>
                <div class="discount">90%</div>
                <br />
              </div>
              <div class="progress-bar-bg">
                <div class="progress-bar" style="width: 90%"></div>
              </div>
            </div>
          </div>
          <div class="inner-box2">
            <svg
              class="heart"
              width="28"
              height="24"
              viewBox="0 0 28 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M27.0606 7.06297C27.0606 8.66768 26.4521 10.2862 25.2213 11.5174L23.1745 13.5648L14.3649 22.3768C14.3234 22.4183 14.3096 22.4322 14.2681 22.4598C14.2266 22.4322 14.2128 22.4183 14.1713 22.3768L3.31495 11.5174C2.0841 10.2862 1.47559 8.68151 1.47559 7.06297C1.47559 5.44444 2.0841 3.82591 3.31495 2.59472C5.77664 0.146162 9.7596 0.146162 12.2213 2.59472L14.2543 4.64209L16.3011 2.59472C18.7628 0.146162 22.7319 0.146162 25.1936 2.59472C26.4521 3.82591 27.0606 5.43061 27.0606 7.06297Z"
                stroke="#E27A6C"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>

        <div class="container" id="cont2-2">
          <div class="inner-box1">
            <div class="inner-textbox">
              <div class="category">
                <span class="category-label">생필품 | 이화 파빌리온 앞 | </span>
                <span class="store">쿠팡</span>
              </div>
              <div class="product-name">해피데이 포켓형 대용량 핫팩 150g</div>
              <div class="price">25개, 25000원</div>
            </div>
            <div class="progress">
              <div class="progress-text">
                <div class="dday">D-DAY</div>
                <div class="discount">90%</div>
                <br />
              </div>
              <div class="progress-bar-bg">
                <div class="progress-bar" style="width: 90%"></div>
              </div>
            </div>
          </div>
          <div class="inner-box2">
            <svg
              class="heart"
              width="28"
              height="24"
              viewBox="0 0 28 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M27.0606 7.06297C27.0606 8.66768 26.4521 10.2862 25.2213 11.5174L23.1745 13.5648L14.3649 22.3768C14.3234 22.4183 14.3096 22.4322 14.2681 22.4598C14.2266 22.4322 14.2128 22.4183 14.1713 22.3768L3.31495 11.5174C2.0841 10.2862 1.47559 8.68151 1.47559 7.06297C1.47559 5.44444 2.0841 3.82591 3.31495 2.59472C5.77664 0.146162 9.7596 0.146162 12.2213 2.59472L14.2543 4.64209L16.3011 2.59472C18.7628 0.146162 22.7319 0.146162 25.1936 2.59472C26.4521 3.82591 27.0606 5.43061 27.0606 7.06297Z"
                stroke="#E27A6C"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>

        <div class="container" id="cont2-3">
          <div class="inner-box1">
            <div class="inner-textbox">
              <div class="category">
                <span class="category-label">생필품 | 이화 파빌리온 앞 | </span>
                <span class="store">쿠팡</span>
              </div>
              <div class="product-name">해피데이 포켓형 대용량 핫팩 150g</div>
              <div class="price">25개, 25000원</div>
            </div>
            <div class="progress">
              <div class="progress-text">
                <div class="dday">D-DAY</div>
                <div class="discount">90%</div>
                <br />
              </div>
              <div class="progress-bar-bg">
                <div class="progress-bar" style="width: 90%"></div>
              </div>
            </div>
          </div>
          <div class="inner-box2">
            <svg
              class="heart"
              width="28"
              height="24"
              viewBox="0 0 28 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M27.0606 7.06297C27.0606 8.66768 26.4521 10.2862 25.2213 11.5174L23.1745 13.5648L14.3649 22.3768C14.3234 22.4183 14.3096 22.4322 14.2681 22.4598C14.2266 22.4322 14.2128 22.4183 14.1713 22.3768L3.31495 11.5174C2.0841 10.2862 1.47559 8.68151 1.47559 7.06297C1.47559 5.44444 2.0841 3.82591 3.31495 2.59472C5.77664 0.146162 9.7596 0.146162 12.2213 2.59472L14.2543 4.64209L16.3011 2.59472C18.7628 0.146162 22.7319 0.146162 25.1936 2.59472C26.4521 3.82591 27.0606 5.43061 27.0606 7.06297Z"
                stroke="#E27A6C"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>

        <div class="container" id="cont2-4">
          <div class="inner-box1">
            <div class="inner-textbox">
              <div class="category">
                <span class="category-label">생필품 | 이화 파빌리온 앞 | </span>
                <span class="store">쿠팡</span>
              </div>
              <div class="product-name">해피데이 포켓형 대용량 핫팩 150g</div>
              <div class="price">25개, 25000원</div>
            </div>
            <div class="progress">
              <div class="progress-text">
                <div class="dday">D-DAY</div>
                <div class="discount">90%</div>
                <br />
              </div>
              <div class="progress-bar-bg">
                <div class="progress-bar" style="width: 90%"></div>
              </div>
            </div>
          </div>
          <div class="inner-box2">
            <svg
              class="heart"
              width="28"
              height="24"
              viewBox="0 0 28 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M27.0606 7.06297C27.0606 8.66768 26.4521 10.2862 25.2213 11.5174L23.1745 13.5648L14.3649 22.3768C14.3234 22.4183 14.3096 22.4322 14.2681 22.4598C14.2266 22.4322 14.2128 22.4183 14.1713 22.3768L3.31495 11.5174C2.0841 10.2862 1.47559 8.68151 1.47559 7.06297C1.47559 5.44444 2.0841 3.82591 3.31495 2.59472C5.77664 0.146162 9.7596 0.146162 12.2213 2.59472L14.2543 4.64209L16.3011 2.59472C18.7628 0.146162 22.7319 0.146162 25.1936 2.59472C26.4521 3.82591 27.0606 5.43061 27.0606 7.06297Z"
                stroke="#E27A6C"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>

        <div class="container" id="cont2-5">
          <div class="inner-box1">
            <div class="inner-textbox">
              <div class="category">
                <span class="category-label">생필품 | 이화 파빌리온 앞 | </span>
                <span class="store">쿠팡</span>
              </div>
              <div class="product-name">해피데이 포켓형 대용량 핫팩 150g</div>
              <div class="price">25개, 25000원</div>
            </div>
            <div class="progress">
              <div class="progress-text">
                <div class="dday">D-DAY</div>
                <div class="discount">90%</div>
                <br />
              </div>
              <div class="progress-bar-bg">
                <div class="progress-bar" style="width: 90%"></div>
              </div>
            </div>
          </div>
          <div class="inner-box2">
            <svg
              class="heart"
              width="28"
              height="24"
              viewBox="0 0 28 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M27.0606 7.06297C27.0606 8.66768 26.4521 10.2862 25.2213 11.5174L23.1745 13.5648L14.3649 22.3768C14.3234 22.4183 14.3096 22.4322 14.2681 22.4598C14.2266 22.4322 14.2128 22.4183 14.1713 22.3768L3.31495 11.5174C2.0841 10.2862 1.47559 8.68151 1.47559 7.06297C1.47559 5.44444 2.0841 3.82591 3.31495 2.59472C5.77664 0.146162 9.7596 0.146162 12.2213 2.59472L14.2543 4.64209L16.3011 2.59472C18.7628 0.146162 22.7319 0.146162 25.1936 2.59472C26.4521 3.82591 27.0606 5.43061 27.0606 7.06297Z"
                stroke="#E27A6C"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
      </div>
    </div>

    <div class="text-box3">
      <div class="text3-1">따끈따끈</div>
      <div class="text3-2">방금 올라온 공동구매</div>
    </div>

    <div class="card-line3">
      <div class="card-container3">
        <div class="container" id="cont3-1">
          <div class="inner-box1">
            <div class="inner-textbox">
              <div class="category">
                <span class="category-label">생필품 | 이화 파빌리온 앞 | </span>
                <span class="store">쿠팡</span>
              </div>
              <div class="product-name">해피데이 포켓형 대용량 핫팩 150g</div>
              <div class="price">25개, 25000원</div>
            </div>
            <div class="progress">
              <div class="progress-text">
                <div class="dday">D-DAY</div>
                <div class="discount">90%</div>
                <br />
              </div>
              <div class="progress-bar-bg">
                <div class="progress-bar" style="width: 90%"></div>
              </div>
            </div>
          </div>
          <div class="inner-box2">
            <svg
              class="heart"
              width="28"
              height="24"
              viewBox="0 0 28 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M27.0606 7.06297C27.0606 8.66768 26.4521 10.2862 25.2213 11.5174L23.1745 13.5648L14.3649 22.3768C14.3234 22.4183 14.3096 22.4322 14.2681 22.4598C14.2266 22.4322 14.2128 22.4183 14.1713 22.3768L3.31495 11.5174C2.0841 10.2862 1.47559 8.68151 1.47559 7.06297C1.47559 5.44444 2.0841 3.82591 3.31495 2.59472C5.77664 0.146162 9.7596 0.146162 12.2213 2.59472L14.2543 4.64209L16.3011 2.59472C18.7628 0.146162 22.7319 0.146162 25.1936 2.59472C26.4521 3.82591 27.0606 5.43061 27.0606 7.06297Z"
                stroke="#E27A6C"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>

        <div class="container" id="cont3-2">
          <div class="inner-box1">
            <div class="inner-textbox">
              <div class="category">
                <span class="category-label">생필품 | 이화 파빌리온 앞 | </span>
                <span class="store">쿠팡</span>
              </div>
              <div class="product-name">해피데이 포켓형 대용량 핫팩 150g</div>
              <div class="price">25개, 25000원</div>
            </div>
            <div class="progress">
              <div class="progress-text">
                <div class="dday">D-DAY</div>
                <div class="discount">90%</div>
                <br />
              </div>
              <div class="progress-bar-bg">
                <div class="progress-bar" style="width: 90%"></div>
              </div>
            </div>
          </div>
          <div class="inner-box2">
            <svg
              class="heart"
              width="28"
              height="24"
              viewBox="0 0 28 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M27.0606 7.06297C27.0606 8.66768 26.4521 10.2862 25.2213 11.5174L23.1745 13.5648L14.3649 22.3768C14.3234 22.4183 14.3096 22.4322 14.2681 22.4598C14.2266 22.4322 14.2128 22.4183 14.1713 22.3768L3.31495 11.5174C2.0841 10.2862 1.47559 8.68151 1.47559 7.06297C1.47559 5.44444 2.0841 3.82591 3.31495 2.59472C5.77664 0.146162 9.7596 0.146162 12.2213 2.59472L14.2543 4.64209L16.3011 2.59472C18.7628 0.146162 22.7319 0.146162 25.1936 2.59472C26.4521 3.82591 27.0606 5.43061 27.0606 7.06297Z"
                stroke="#E27A6C"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>

        <div class="container" id="cont3-3">
          <div class="inner-box1">
            <div class="inner-textbox">
              <div class="category">
                <span class="category-label">생필품 | 이화 파빌리온 앞 | </span>
                <span class="store">쿠팡</span>
              </div>
              <div class="product-name">해피데이 포켓형 대용량 핫팩 150g</div>
              <div class="price">25개, 25000원</div>
            </div>
            <div class="progress">
              <div class="progress-text">
                <div class="dday">D-DAY</div>
                <div class="discount">90%</div>
                <br />
              </div>
              <div class="progress-bar-bg">
                <div class="progress-bar" style="width: 90%"></div>
              </div>
            </div>
          </div>
          <div class="inner-box2">
            <svg
              class="heart"
              width="28"
              height="24"
              viewBox="0 0 28 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M27.0606 7.06297C27.0606 8.66768 26.4521 10.2862 25.2213 11.5174L23.1745 13.5648L14.3649 22.3768C14.3234 22.4183 14.3096 22.4322 14.2681 22.4598C14.2266 22.4322 14.2128 22.4183 14.1713 22.3768L3.31495 11.5174C2.0841 10.2862 1.47559 8.68151 1.47559 7.06297C1.47559 5.44444 2.0841 3.82591 3.31495 2.59472C5.77664 0.146162 9.7596 0.146162 12.2213 2.59472L14.2543 4.64209L16.3011 2.59472C18.7628 0.146162 22.7319 0.146162 25.1936 2.59472C26.4521 3.82591 27.0606 5.43061 27.0606 7.06297Z"
                stroke="#E27A6C"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>

        <div class="container" id="cont3-4">
          <div class="inner-box1">
            <div class="inner-textbox">
              <div class="category">
                <span class="category-label">생필품 | 이화 파빌리온 앞 | </span>
                <span class="store">쿠팡</span>
              </div>
              <div class="product-name">해피데이 포켓형 대용량 핫팩 150g</div>
              <div class="price">25개, 25000원</div>
            </div>
            <div class="progress">
              <div class="progress-text">
                <div class="dday">D-DAY</div>
                <div class="discount">90%</div>
                <br />
              </div>
              <div class="progress-bar-bg">
                <div class="progress-bar" style="width: 90%"></div>
              </div>
            </div>
          </div>
          <div class="inner-box2">
            <svg
              class="heart"
              width="28"
              height="24"
              viewBox="0 0 28 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M27.0606 7.06297C27.0606 8.66768 26.4521 10.2862 25.2213 11.5174L23.1745 13.5648L14.3649 22.3768C14.3234 22.4183 14.3096 22.4322 14.2681 22.4598C14.2266 22.4322 14.2128 22.4183 14.1713 22.3768L3.31495 11.5174C2.0841 10.2862 1.47559 8.68151 1.47559 7.06297C1.47559 5.44444 2.0841 3.82591 3.31495 2.59472C5.77664 0.146162 9.7596 0.146162 12.2213 2.59472L14.2543 4.64209L16.3011 2.59472C18.7628 0.146162 22.7319 0.146162 25.1936 2.59472C26.4521 3.82591 27.0606 5.43061 27.0606 7.06297Z"
                stroke="#E27A6C"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>

        <div class="container" id="cont3-5">
          <div class="inner-box1">
            <div class="inner-textbox">
              <div class="category">
                <span class="category-label">생필품 | 이화 파빌리온 앞 | </span>
                <span class="store">쿠팡</span>
              </div>
              <div class="product-name">해피데이 포켓형 대용량 핫팩 150g</div>
              <div class="price">25개, 25000원</div>
            </div>
            <div class="progress">
              <div class="progress-text">
                <div class="dday">D-DAY</div>
                <div class="discount">90%</div>
                <br />
              </div>
              <div class="progress-bar-bg">
                <div class="progress-bar" style="width: 90%"></div>
              </div>
            </div>
          </div>
          <div class="inner-box2">
            <svg
              class="heart"
              width="28"
              height="24"
              viewBox="0 0 28 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M27.0606 7.06297C27.0606 8.66768 26.4521 10.2862 25.2213 11.5174L23.1745 13.5648L14.3649 22.3768C14.3234 22.4183 14.3096 22.4322 14.2681 22.4598C14.2266 22.4322 14.2128 22.4183 14.1713 22.3768L3.31495 11.5174C2.0841 10.2862 1.47559 8.68151 1.47559 7.06297C1.47559 5.44444 2.0841 3.82591 3.31495 2.59472C5.77664 0.146162 9.7596 0.146162 12.2213 2.59472L14.2543 4.64209L16.3011 2.59472C18.7628 0.146162 22.7319 0.146162 25.1936 2.59472C26.4521 3.82591 27.0606 5.43061 27.0606 7.06297Z"
                stroke="#E27A6C"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
      </div>
    </div>

    <div class="review-box">
      <div class="text-box4">
        <div class="text4-1">생생한 후기를 구경해보세요</div>
      </div>
      <div class="review-page-go">리뷰 전체 보기</div>

      <div class="card-line4">
        <div class="card-container4">
          <div class="UIcard">
            <div class="card bottom">
              <div class="card textbox">
                <div class="text">
                  <div class="nickname box">
                    <span class="nickname img"></span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                    >
                      <circle cx="8" cy="8" r="8" fill="#00664F" />
                    </svg>
                    <span id="name">냥냥이</span>
                  </div>
                  <div class="review contents">
                    요즘 날씨가 추워져서 걱정이 많았는데 벗들과 함께 핫팩
                    공구해서 걱정이 싹 사라졌네요! ㅋㅋ 다들 감기 조심하세요
                  </div>
                </div>
              </div>
              <div class="line"></div>
              <div class="product name">해피데이 포켓형 대용량 핫팩 150g</div>
            </div>
            <div class="card top"></div>
          </div>

          <div class="UIcard">
            <div class="card bottom">
              <div class="card textbox">
                <div class="text">
                  <div class="nickname box">
                    <span class="nickname img"></span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                    >
                      <circle cx="8" cy="8" r="8" fill="#00664F" />
                    </svg>
                    <span id="name">냥냥이</span>
                  </div>
                  <div class="review contents">
                    요즘 날씨가 추워져서 걱정이 많았는데 벗들과 함께 핫팩
                    공구해서 걱정이 싹 사라졌네요! ㅋㅋ 다들 감기 조심하세요
                  </div>
                </div>
              </div>
              <div class="line"></div>
              <div class="product name">해피데이 포켓형 대용량 핫팩 150g</div>
            </div>
            <div class="card top"></div>
          </div>

          <div class="UIcard">
            <div class="card bottom">
              <div class="card textbox">
                <div class="text">
                  <div class="nickname box">
                    <span class="nickname img"></span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                    >
                      <circle cx="8" cy="8" r="8" fill="#00664F" />
                    </svg>
                    <span id="name">냥냥이</span>
                  </div>
                  <div class="review contents">
                    요즘 날씨가 추워져서 걱정이 많았는데 벗들과 함께 핫팩
                    공구해서 걱정이 싹 사라졌네요! ㅋㅋ 다들 감기 조심하세요
                  </div>
                </div>
              </div>
              <div class="line"></div>
              <div class="product name">해피데이 포켓형 대용량 핫팩 150g</div>
            </div>
            <div class="card top"></div>
          </div>

          <div class="UIcard">
            <div class="card bottom">
              <div class="card textbox">
                <div class="text">
                  <div class="nickname box">
                    <span class="nickname img"></span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                    >
                      <circle cx="8" cy="8" r="8" fill="#00664F" />
                    </svg>
                    <span id="name">냥냥이</span>
                  </div>
                  <div class="review contents">
                    요즘 날씨가 추워져서 걱정이 많았는데 벗들과 함께 핫팩
                    공구해서 걱정이 싹 사라졌네요! ㅋㅋ 다들 감기 조심하세요
                  </div>
                </div>
              </div>
              <div class="line"></div>
              <div class="product name">해피데이 포켓형 대용량 핫팩 150g</div>
            </div>
            <div class="card top"></div>
          </div>

          <div class="UIcard">
            <div class="card bottom">
              <div class="card textbox">
                <div class="text">
                  <div class="nickname box">
                    <span class="nickname img"></span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                    >
                      <circle cx="8" cy="8" r="8" fill="#00664F" />
                    </svg>
                    <span id="name">냥냥이</span>
                  </div>
                  <div class="review contents">
                    요즘 날씨가 추워져서 걱정이 많았는데 벗들과 함께 핫팩
                    공구해서 걱정이 싹 사라졌네요! ㅋㅋ 다들 감기 조심하세요
                  </div>
                </div>
              </div>
              <div class="line"></div>
              <div class="product name">해피데이 포켓형 대용량 핫팩 150g</div>
            </div>
            <div class="card top"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <!--<footer id="footer"></footer>-->
  <script>
    fetch("layout/header_before.html")
      .then((response) => response.text())
      .then((data) => {
        document.getElementById("header").innerHTML = data;
      });
  </script>
</html>
