{% if total > 0 %}
<p>상품 리스트 -- 현재까지 {{total}}개 등록됨</p>
<table>
  {% for row in row_data %}
  <tr>
    {% for key, value in row %}
    <td>상품이름: {{key}}</td>
    {% endfor %}
  </tr>
  <tr>
    {% for key, value in row %}
    <td
      onclick="location.href='/view_detail/{{key}}/';"
      style="cursor: pointer"
    >
      <img src="/static/img/{{value.img_path}}" , width="140," height="200" />
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
<div class="page-wrap">
  <div class="page-nation">
    <ul>
      <li>
        {% for i in range(page_count)%}
        <a href="{{url_for('view_list', page=i)}}" color="black">{{i}}</a>
        {% endfor %}
      </li>
    </ul>
  </div>
</div>
{% else %}
<p>등록된 상품이 없습니다.</p>
{% endif %}

<style>
  .page-nation li {
    list-style: none;
  }
  .page-wrap {
    text-align: center;
    font-size: 0;
  }
  .page-nation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .page-nation a {
    display: block;
    margin: 0 3px;
    float: left;
    border: 1px solid #e6e6e6;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background-color: #fff;
    font-size: 13px;
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
</style>
