<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/css/review_detail.css"
    />
  </head>
  <body>
    <div class="box1">
      <div class="box2">
        <img src="../static/img/Xmark.png" class="XmarkImage" />
      </div>
      <div style="display: flex; flex-direction: row">
        <img src="../static/img/circle.png" class="circleImage" />

        <p class="box3">냥냥이</p>
      </div>
      <div style="margin: 10px 0 10px 30px">2023.09.09</div>
      <p class="box4">
        요즘 날씨가 추워져서 걱정이 많았는데 벗들과 함께 핫팩 공구해서 걱정이 싹
        사라졌네요! ㅋㅋ 다들 감기 조심하세요 이런 식으로 리뷰에 대한 내용이
        죽죽 써져있습니다...
      </p>
      <hr class="box5" />
      <p class="box6">해피데이 포켓형 대용량 핫팩 150g</p>
    </div>
  </body>
</html>
