<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/css/signup3.css">
    </head>
    <body>
        <a href="{{url_for('login')}}" target="_parent" id="ximg"><svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M32.8214 10.7793L10.9404 32.9947" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M10.9404 10.7793L32.8214 32.9947" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </a>
        <div class="text1">
            <div class="text1-1">회원가입이</div>
            <div class="text1-2">완료되었습니다!</div>
        </div>
        <div class="text2">
            <div class="text2-1">벗들과 함께하는</div>
            <div class="text2-2">다양한 공동 구매를 경험해보세요</div>
        </div>
    </form>
</body>
</html>