<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../../static/css/header.css">
    </head>
    <body>
        <div class="header">
            <a href="index.html" target="_self" id="logo"><img src="dd" alt="logo"></a>
            <!--로고 이미지 파일 경로 수정 필요-->
            <a href="product_add.html" target="_self" id="reg-btn">공동 구매 등록하기</a>
            <a href="경로" target="_self" id="wish-btn"><svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.897 4.13328C12.897 4.83733 12.63 5.54744 12.09 6.08761L11.192 6.98587L7.32691 10.852C7.30871 10.8702 7.30264 10.8763 7.28444 10.8885C7.26623 10.8763 7.26016 10.8702 7.24196 10.852L2.47887 6.08761C1.93885 5.54744 1.67188 4.8434 1.67188 4.13328C1.67188 3.42317 1.93885 2.71306 2.47887 2.17289C3.55891 1.09862 5.30638 1.09862 6.38642 2.17289L7.27837 3.07115L8.17638 2.17289C9.25642 1.09862 10.9978 1.09862 12.0779 2.17289C12.63 2.71306 12.897 3.4171 12.897 4.13328Z" stroke="#FFFCF0" stroke-width="1.79171" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>위시
            </a>
            <a href="login.html" target="_self" id="mypage-btn"><svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="11.6643" cy="11.1253" r="10.7503" fill="#5BAB93"/>
                </svg>냥냥이
            </a>
        </div>
        <div class="nav">
            <a href="index.html" target="_self" id="nav1">홈</a>
            <a href="products_list.html" target="_self" id="nav2">식료품</a>
            <a href="products_list.html" target="_self" id="nav3">생필품</a>
            <a href="products_list.html" target="_self" id="nav4">문구류</a>
            <a href="products_list.html" target="_self" id="nav5">패션잡화</a>
            <a href="products_list.html" target="_self" id="nav6">이화굿즈</a>
            <a href="products_list.html" target="_self" id="nav7">기타</a>
        </div>
    </body>
</html>