<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../../static/css/header.css" />
  </head>
  <body>
    <div class="header">
      <div>
        <img
          src="../../static/img/위시윗 로고.png"
          alt="WishWith Logo"
          id="logo"
          style="width: 248px; height: 40px"
        />

        <div class="btn-box">
          <a href="login.html" id="login-btn">로그인</a>
          <a href="signup1.html" id="reg-btn">회원가입</a>
          <a href="wish_list.html" id="wish-btn">위시</a>
          <a href="mypage.html" id="mypage-btn">마이페이지</a>
          <a href="product_add.html" id="mypage-btn">등록하기</a>
        </div>
      </div>
      <div class="nav">
        <a href="index.html" id="nav1">홈</a>
        <a href="products_list.html" id="nav2">식료품</a>
        <a href="products_list.html" id="nav3">생필품</a>
        <a href="products_list.html" id="nav4">문구류</a>
        <a href="products_list.html" id="nav5">패션잡화</a>
        <a href="products_list.html" id="nav6">이화굿즈</a>
        <a href="products_list.html" id="nav7">기타</a>
      </div>
    </div>
  </body>
</html>
